.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer p {
    margin: 0;
}

.new-transaction {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    font-weight: bold;
}

.transaction-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.account-amount {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.create-transaction {
    width: 160px;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px;
}

.close-transaction {
    width: 65px;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: rgba(145, 144, 144, 0.589);
}