<div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div>
        <div class="form-group">
          <label for="email">Email</label><br>
          <input required id="email" ngModel name="email" #email="ngModel" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="email?.touched && !email?.valid">Email is required!</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label><br>
          <input required minlength="5" id="password" ngModel name="password" #password="ngModel" type="password" class="form-control">
          <div class="alert alert-danger" *ngIf="password?.touched && !password?.valid">
            <div *ngIf="password?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Password should be minimum {{ password?.errors?.['minlength']?.requiredLength }} characters long.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">LogIn</button>
      </div>
    </form>
  </div>