.full-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    max-width: 350px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    border: 2px solid black;
}

a {
    text-decoration: none;
    color: white;
}
