<div class="full-transactions">
    <div class="filter-transactions">
        <label for="filter">Filter by Account: </label>
        <select id="filter" [(ngModel)]="selectedFilter" (change)="onFilterChange()">
            <option *ngFor="let option of filterOptions" [value]="option.id">
              {{ option.name }}
            </option>
          </select>
    </div>
    <div class="transactions-list">
        <div class="transaction-item" *ngFor="let transaction of transactions">
            <h4>{{transaction.description}}</h4>
            <p>{{transaction.accountId}}</p>
            <p>-{{transaction.amount}} {{transaction.currency}}</p>
        </div>
    </div>
</div>
