.full-transactions {
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black
}

.filter-transactions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: start;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.transactions-list {
    max-width: 500px;
    width: 100%;
    padding: 10px;
}

.transaction-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid black;
}

.transaction-amount {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.transaction-amount p {
    margin: 0;
}

.former-transaction {
    font-size: 12px;
}

.hidden {
    display: none;
}