<div class="full-accounts">
    <div class="accounts-list">
        <div class="account-item" *ngFor="let account of accounts">
            <h4>{{account.name}}</h4>
            <p>{{account.balance}} {{account.currency}}</p>
        </div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#newAccount">New account </button>

        <div class="modal fade" id="newAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Account</h1>
                    </div>
                    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                        <div class="modal-body">
                            <label for="name">Name:</label>
                            <input id="name" ngModel name="name" #name="ngModel" type="text">
                            <label for="balance">Balance</label>
                            <input id="balance" ngModel class="balance" name="balance" #balance="ngModel" type="text">
                            <label for="currency">Currency:</label>
                            <select id="currency" ngModel class="currency" name="currency" #currency="ngModel">
                                <option>EUR</option>
                                <option>USD</option>
                                <option>BAM</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="create-account">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>