.full-accounts {
    height: 84%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accounts-list {
    max-width: 500px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;   
}

.accounts-list button {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 120px;
    font-weight: bold;
}

.account-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 8px;
}

.account-item p {
    margin: 0;
}

.account-balance {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.former-balance {
    font-size: 14px;
}

.currency {
    max-width: 100px;
    width: 100%;
}

.balance {
    max-width: 150px;
    width: 100%;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.create-account {
    width: 120px;
    font-size: 14px;
}

.btn-secondary {
    font-size: 14px;
}