<div class="full-settings">
    <div class="currency">
        <p>Default currency</p>
        <select class="defaultCurrency" name="defaultCurrency" (change)="currencyChange($event)" [(ngModel)]="selectedCurrency">
            <option *ngFor="let currency of currencies" [value]="currency.code"> {{currency.code}}</option>
        </select>
    </div>
    <div class="delete-data">
        <p>Delete all data</p>
        <button (click)="deleteAll()">Delete</button>
    </div>
    <div class="exchange-rate">
        <p>Exchange rate updated</p>
        <p>22.07.2024</p>
    </div>
</div>
